<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"/>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"/>
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="'/templates/index.html: Hello, ' + ${name} + '!'" />

	<form th:action="@{/loginEvent}" method="POST">
		<div>
			<label> User Name1 : <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> Contraseña: <input type="password" name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>
</body>
